<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <!-- Horizontal Wizard -->
    <section class="vertical-wizard">
      <div id="stepper1" class="bs-stepper vertical vertical-wizard-example">
        <div class="bs-stepper-header">
          <div class="step" data-target="#account-details">
            <button class="step-trigger">
              <span class="bs-stepper-box">
                <i data-feather="user-plus" class="font-medium-3"></i>
              </span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Student Details</span>
                <span class="bs-stepper-subtitle">Add Basic Information</span>
              </span>
            </button>
          </div>
          <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>
          <div class="step" data-target="#acedemic-info">
            <button class="step-trigger">
              <span class="bs-stepper-box">
                <i data-feather="book" class="font-medium-3"></i>
              </span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Acedemic Details</span>
                <span class="bs-stepper-subtitle">Add Acedamic Information</span>
              </span>
            </button>
          </div>
          <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>
          <div class="step" data-target="#address">
            <button class="step-trigger">
              <span class="bs-stepper-box">
                <i data-feather="user" class="font-medium-3"></i>
              </span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Parent/Guadian Details</span>
                <span class="bs-stepper-subtitle">Add Parent Guadian Information</span>
              </span>
            </button>
          </div>
          <!-- <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>
          <div class="step" data-target="#social-links">
            <button class="step-trigger">
              <span class="bs-stepper-box">
                <i data-feather="mail" class="font-medium-3"></i>
              </span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Contact</span>
                <span class="bs-stepper-subtitle">Add Contact Details</span>
              </span>
            </button>
          </div> -->
        </div>
        <div class="bs-stepper-content">
          <form role="form" #form="ngForm" (ngSubmit)="processForm()">
            <div id="account-details" class="content">
              <form #studentDetailsForm="ngForm">
                <div class="content-header">
                  <h5 class="mb-0">Student Details</h5>
                  <small class="text-muted">Enter Student Basic Information</small>
                </div>

                <!-- header media -->
                <div class="media mb-1">
                  <a href="javascript:void(0);" class="mr-25">
                    <img [src]="avatarImage" class="rounded border border-secondary border-1 rounded bg-light mr-50"
                      alt="profile image" height="100" width="100" />
                  </a>
                  <!-- upload and reset button -->
                  <div class="media-body mt-75 ml-1">
                    <button (click)="file.click()" for="student-photo-upload" class="btn btn-sm btn-primary mb-75 mr-75"
                      rippleEffect>
                      Upload Photo
                    </button>
                    <input [(ngModel)]="photoUrl" #TDPhotoRef="ngModel" required type="file" #file
                      name="StudentPhotoUpload" id="StudentPhotoUpload" class="form-control" hidden accept="image/*"
                      (change)="uploadImage($event)" />
                    <!-- <button class="btn btn-sm btn-outline-secondary mb-75" rippleEffect>Reset</button> -->
                    <span *ngIf="studentDetailsForm.submitted && TDPhotoRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="TDPhotoRef.errors.required">Student photo is
                        required!</small>
                    </span>
                    <p><small>Allowed JPG, GIF or PNG. Max size of 800kB</small></p>
                  </div>
                  <!--/ upload and reset button -->
                </div>
                <!--/ header media -->

                <div class="row">
                  <div class="form-group col-md-6">

                    <label class="form-label" for="first_name"
                      [class.text-danger]="!first_nameRef.valid && studentDetailsForm.submitted">First Name<i
                        class="text-danger">*</i></label>
                    <input [(ngModel)]="apiModel.data.first_name" #first_nameRef="ngModel" required type="text"
                      name="first_name" id="first_name" class="form-control"
                      [class.error]="!first_nameRef.valid && studentDetailsForm.submitted"
                      placeholder="Enter first name . . ." />
                    <span *ngIf="studentDetailsForm.submitted && first_nameRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="first_nameRef.errors.required">First name is
                        required!</small>
                    </span>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label" for="surname"
                      [class.text-danger]="!surnameRef.valid && studentDetailsForm.submitted">Surname<i
                        class="text-danger">*</i></label>
                    <input [(ngModel)]="apiModel.data.surname" #surnameRef="ngModel" required type="text"
                      name="surname" id="surname" class="form-control"
                      [class.error]="!surnameRef.valid && studentDetailsForm.submitted"
                      placeholder="Enter Surname . . ." />
                    <span *ngIf="studentDetailsForm.submitted && surnameRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="surnameRef.errors.required">Surname is
                        required!</small>
                    </span>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="other_name">Other name (Optional)</label>
                    <input [(ngModel)]="apiModel.data.other_name" #other_nameRef="ngModel" type="text" name="other_name"
                      id="other_name" class="form-control" placeholder="Enter Other name . . ." />
                  </div>

                  <div class="form-group col-md-6">
                    <label class="form-label" for="date_of_birth"
                      [class.text-danger]="!date_of_birthRef.valid && studentDetailsForm.submitted">Date of birth<i
                        class="text-danger">*</i></label>
                    <div class="input-group">
                      <input type="date" class="form-control"
                        [class.error]="!date_of_birthRef.valid && studentDetailsForm.submitted"
                        #date_of_birthRef="ngModel" required placeholder="Enter date of birth . . ."
                        name="date_of_birth" [(ngModel)]="apiModel.data.date_of_birth">
                      <!-- <div class="input-group-append">
                        <button class="btn btn-outline-secondary feather icon-calendar" (click)="MinMaxDP.toggle()"
                          type="button" rippleEffect></button>
                      </div> -->
                    </div>
                    <span *ngIf="studentDetailsForm.submitted && date_of_birthRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="date_of_birthRef.errors.required">Date of birth is
                        required!</small>
                    </span>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="student_gender"
                      [class.text-danger]="!student_genderRef.valid && studentDetailsForm.submitted">Gender<i
                        class="text-danger">*</i></label>
                    <ng-select [class.error]="!student_genderRef.valid && studentDetailsForm.submitted"
                      #student_genderRef="ngModel" required [items]="genders" [closeOnSelect]="true" [searchable]="true"
                      bindLabel="attributes.name" name="gender" id="gender" bindValue="id"
                      placeholder="Select gender . . ." [(ngModel)]="apiModel.data.gender.id">
                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label"> {{ item.attributes.name }}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      </ng-template>
                    </ng-select>
                    <span *ngIf="studentDetailsForm.submitted && student_genderRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="student_genderRef.errors.required">Gender is
                        required!</small>
                    </span>
                  </div>

                  <div class="form-group col-md-6">
                    <label class="form-label" for="student_state"
                      [class.text-danger]="!student_stateRef.valid && studentDetailsForm.submitted">State of origin<i
                        class="text-danger">*</i></label>
                    <ng-select [class.error]="!student_stateRef.valid && studentDetailsForm.submitted"
                      #student_stateRef="ngModel" required [items]="states" [closeOnSelect]="true" [searchable]="true"
                      bindLabel="attributes.name" name="states" id="states" bindValue="id"
                      placeholder="Select state of origin . . ." [(ngModel)]="apiModel.data.state.id">
                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label"> {{ item.attributes.name }}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      </ng-template>
                    </ng-select>
                    <span *ngIf="studentDetailsForm.submitted && student_stateRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="student_stateRef.errors.required">State of origin is
                        required!</small>
                    </span>
                  </div>
                </div>

                <div class="row">

                  <div class="form-group col-md-6">
                    <label class="form-label" for="student_lga"
                      [class.text-danger]="!student_lgaRef.valid && studentDetailsForm.submitted">Local Government
                      Area<i class="text-danger">*</i></label>
                    <ng-select [class.error]="!student_lgaRef.valid && studentDetailsForm.submitted"
                      #student_lgaRef="ngModel" required [items]="lgas" [closeOnSelect]="true" [searchable]="true"
                      bindLabel="attributes.name" name="lga" id="lga" bindValue="id"
                      placeholder="Select local government area . . ." [(ngModel)]="apiModel.data.lga.id">
                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label"> {{ item.attributes.name }}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      </ng-template>
                    </ng-select>
                    <span *ngIf="studentDetailsForm.submitted && student_lgaRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="student_lgaRef.errors.required">Local government area
                        is
                        required!</small>
                    </span>
                  </div>


                </div>
                <hr>
                <div class="d-flex justify-content-between">
                  <button (click)="horizontalWizardStepperPrevious()" class="btn btn-outline-secondary btn-prev"
                    disabled rippleEffect>
                    <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                    <span class="align-middle d-sm-inline-block d-none">Previous</span>
                  </button>
                  <button (click)="horizontalWizardStepperNext(studentDetailsForm)" type="submit"
                    class="btn btn-primary btn-next" rippleEffect>
                    <span class="align-middle d-sm-inline-block d-none">Next</span>
                    <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                  </button>
                </div>
              </form>
            </div>
            <div id="acedemic-info" class="content">
              <form #acedemicInfoForm="ngForm">
                <div class="content-header">
                  <h5 class="mb-0">Acedemic Details</h5>
                  <small>Enter Student Acedemic Information</small>
                </div>

                <div class="row">
                  <!-- <div class="form-group col-md-6">
                    <label class="form-label" for="classcategory"
                      [class.text-danger]="!ArtOrScience.valid && acedemicInfoForm.submitted">Assign Class Category<i
                        class="text-danger">*</i></label>
                    <ng-select [class.error]="!ArtOrScience.valid && acedemicInfoForm.submitted" #ArtOrScience="ngModel"
                      required [items]="classcategorys" [closeOnSelect]="true" [searchable]="true"
                      bindLabel="attributes.name" name="classcategory" id="classcategory" bindValue="id"
                      placeholder="Select Class Category . . ." [(ngModel)]="apiModel.classcategory_id">
                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label"> {{ item.attributes.name }}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      </ng-template>
                    </ng-select>
                    <span *ngIf="acedemicInfoForm.submitted && ArtOrScience.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="ArtOrScience.errors.required">Class Category is
                        required!</small>
                    </span>
                  </div> -->

                  <!-- <div class="form-group col-md-6">
                    <label class="form-label" for="class"
                      [class.text-danger]="!ArtOrScience.valid && acedemicInfoForm.submitted">Assign Class<i
                        class="text-danger">*</i></label>
                    <ng-select [class.error]="!ArtOrScience.valid && acedemicInfoForm.submitted" #ArtOrScience="ngModel"
                      required [items]="classs" [closeOnSelect]="true" [searchable]="true" bindLabel="attributes.name"
                      name="class" id="class" bindValue="id" placeholder="Select Class . . ." [(ngModel)]="apiModel.class_id">
                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label"> {{ item.attributes.name }}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      </ng-template>
                    </ng-select>
                    <span *ngIf="acedemicInfoForm.submitted && ArtOrScience.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="ArtOrScience.errors.required">Class is
                        required!</small>
                    </span>
                  </div> -->

                  <div class="form-group col-md-6">
                    <label class="form-label" for="classrooms"
                      [class.text-danger]="!classroomsRef.valid && acedemicInfoForm.submitted">Assign Class Room<i
                        class="text-danger">*</i></label>
                    <ng-select [class.error]="!classroomsRef.valid && acedemicInfoForm.submitted"
                      #classroomsRef="ngModel" required [items]="classrooms" [closeOnSelect]="true" [searchable]="true"
                      bindLabel="attributes.name" name="classrooms" id="classrooms" bindValue="id"
                      placeholder="Select Class . . ." [(ngModel)]="apiModel.data.class_room.id">
                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label"> {{ item.attributes.name }}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      </ng-template>
                    </ng-select>
                    <span *ngIf="acedemicInfoForm.submitted && classroomsRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="classroomsRef.errors.required">Class room is
                        required!</small>
                    </span>
                  </div>

                  <!-- <div class="form-group col-md-6">
                    <label class="form-label" for="selectArtOrScience"
                      [class.text-danger]="!ArtOrScience.valid && acedemicInfoForm.submitted">Art or Science<i
                        class="text-danger">*</i></label>
                    <ng-select [class.error]="!ArtOrScience.valid && acedemicInfoForm.submitted" #ArtOrScience="ngModel"
                      required [items]="selectArtOrScience" [closeOnSelect]="true" [searchable]="true" bindLabel="name"
                      name="selectArtOrScience" id="selectArtOrScience" placeholder="Select Art or Science . . ."
                      [(ngModel)]="apiModel.selectArtOrScienceSelected">
                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label"> {{ item.name }}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      </ng-template>
                    </ng-select>
                    <span *ngIf="acedemicInfoForm.submitted && ArtOrScience.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="ArtOrScience.errors.required">Art or Science is
                        required!</small>
                    </span>
                  </div> -->

                  <div class="form-group col-md-6">
                    <label>Select Elective Subjects</label>

                    <div class="form-group">
                      <!-- Multi select with limited number of selections -->
                      <ngb-alert [type]="'warning'" [dismissible]="false" class="mb-2"
                        *ngIf="selectMultiLimitedSelected.length === 3">
                        <div class="alert-body">
                          <small>Max selection reached</small>
                        </div>
                      </ngb-alert>

                      <ng-select [class.error]="!subjectsRef.valid && acedemicInfoForm.submitted" #subjectsRef="ngModel"
                        required [items]="subjects" [closeOnSelect]="true" [multiple]="true" [searchable]="true"
                        bindLabel="attributes.name" name="subjects" id="subjects" bindValue="id"
                        placeholder="Elective Subjects . . ." [(ngModel)]="selectedSubjectIds">
                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                          <span class="ng-value-label"> {{ item.attributes.name }}</span>
                          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </ng-template>
                      </ng-select>
                      <span *ngIf="acedemicInfoForm.submitted && subjectsRef.invalid" class="invalid-form">
                        <small class="form-text text-danger" *ngIf="subjectsRef.errors.required">Elective Subjects are
                          required!</small>
                      </span>
                    </div>
                  </div>

                  <div class="form-group col-md-6">
                    <label class="form-label" for="houses"
                      [class.text-danger]="!House.valid && acedemicInfoForm.submitted">Assign House<i
                        class="text-danger">*</i></label>
                    <ng-select [class.error]="!House.valid && acedemicInfoForm.submitted" #House="ngModel" required
                      bindValue="id" [items]="houses" [closeOnSelect]="true" [searchable]="true"
                      bindLabel="attributes.name" name="houses" id="houses" placeholder="Select house . . ."
                      [(ngModel)]="apiModel.data.house.id">
                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label"> {{ item.attributes.name }}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      </ng-template>
                    </ng-select>
                    <span *ngIf="acedemicInfoForm.submitted && House.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="House.errors.required">House is
                        required!</small>
                    </span>
                  </div>

                </div>

                <hr>
                <div class="d-flex justify-content-between">
                  <button type="button" (click)="horizontalWizardStepperPrevious()" class="btn btn-primary btn-prev"
                    rippleEffect>
                    <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                    <span class="align-middle d-sm-inline-block d-none">Previous</span>
                  </button>
                  <button (click)="horizontalWizardStepperNext(acedemicInfoForm)" class="btn btn-primary btn-next"
                    rippleEffect>
                    <span class="align-middle d-sm-inline-block d-none">Next</span>
                    <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                  </button>
                </div>
              </form>
            </div>
            <div id="address" class="content">
              <form #parentDetailsForm="ngForm">
                <div class="content-header">
                  <h5 class="mb-0">Parent/Guardian Details</h5>
                  <small>Enter Parent/Guardian Information</small>
                </div>

                <!-- <div class="row">
                  <div class="form-group col-md-6">

                    <label class="form-label" for="parent_full_name"
                      [class.text-danger]="!parent_full_nameRef.valid && parentDetailsForm.submitted">Parent First Name<i
                        class="text-danger">*</i></label>
                    <input [(ngModel)]="apiModel.data.parent.id" #parent_full_nameRef="ngModel" required type="text"
                      name="parent_full_name" id="parent_full_name" class="form-control"
                      [class.error]="!parent_full_nameRef.valid && parentDetailsForm.submitted"
                      placeholder="Enter Parent First Name . . ." />
                    <span *ngIf="parentDetailsForm.submitted && parent_full_nameRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="parent_full_nameRef.errors.required">Parent First Name
                        is
                        required!</small>
                    </span>
                  </div>
                </div> -->

                <!-- <div class="row">

                  <div class="form-group col-md-6">
                    <label class="form-label" for="parent_gender"
                      [class.text-danger]="!parent_genderRef.valid && parentDetailsForm.submitted">Gender<i
                        class="text-danger">*</i></label>
                    <ng-select [class.error]="!parent_genderRef.valid && parentDetailsForm.submitted" #parent_genderRef="ngModel"
                      required [items]="genders" [closeOnSelect]="true" [searchable]="true" bindLabel="attributes.name"
                      name="parent_gender" id="parent_gender" placeholder="Select gender . . ." [(ngModel)]="apiModel.attributes.parent.data.attributes.gender.data.attributes.name">
                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label"> {{ item.attributes.name }}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      </ng-template>
                    </ng-select>
                    <span *ngIf="parentDetailsForm.submitted && parent_genderRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="parent_genderRef.errors.required">Gender is
                        required!</small>
                    </span>
                  </div>
                </div> -->

                <!-- <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="parent_address"
                      [class.text-danger]="!parent_addressRef.valid && parentDetailsForm.submitted">Parent Address<i
                        class="text-danger">*</i></label>
                    <input [(ngModel)]="apiModel.attributes.parent.data.attributes.address" #parent_addressRef="ngModel" required type="text"
                      id="parent_address" name="parent_address" class="form-control"
                      [class.error]="parentDetailsForm.submitted && parent_addressRef.invalid"
                      placeholder="Enter Parent Address" />
                    <span *ngIf="parentDetailsForm.submitted && parent_addressRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="parent_addressRef.errors.required">Parent Address is
                        required!</small>
                    </span>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-control-label" for="TDRegex">Parent Phone Number</label>
                    <input [(ngModel)]="apiModel.attributes.parent.data.attributes.phone" type="number" name="TDRegex" class="form-control"
                      [class.error]="TDRegexRef.invalid && parentDetailsForm.submitted" pattern="^([0-9]+)$"
                      id="TDRegex" placeholder="Enter Parent Phone Number . . ." minlength="11" required ngModel
                      #TDRegexRef="ngModel" />
                    <small class="form-text text-danger" *ngIf="TDRegexRef.invalid && parentDetailsForm.submitted">Phone
                      number format is invalid!</small>
                  </div>
                </div> -->
                <!-- <div class="divider">
                  <div class="divider-text">OR</div>
                </div> -->
                <div class="row">

                  <div class="form-group col-md-12">
                    <label class="form-label" for="parents"
                      [class.text-danger]="!Parent.valid && acedemicInfoForm.submitted">Assign Parent<i
                        class="text-danger">*</i></label>
                    <ng-select [class.error]="!Parent.valid && acedemicInfoForm.submitted" #Parent="ngModel" required
                      [items]="parents" [closeOnSelect]="true" [searchable]="true" bindLabel="attributes.full_name"
                      name="parents" id="parents" placeholder="Select Parent . . ." bindValue="id"
                      [(ngModel)]="apiModel.data.parent.id">
                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label"> {{ item.attributes.full_name }}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      </ng-template>
                    </ng-select>
                    <span *ngIf="acedemicInfoForm.submitted && Parent.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="Parent.errors.required">Parent is
                        required!</small>
                    </span>
                  </div>
                </div>

                <hr>
                <div class="d-flex justify-content-between">
                  <button type="button" (click)="horizontalWizardStepperPrevious()" class="btn btn-primary btn-prev"
                    rippleEffect>
                    <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                    <span class="align-middle d-sm-inline-block d-none">Previous</span>
                  </button>
                  <!-- <button (click)="horizontalWizardStepperNext(parentDetailsForm)" class="btn btn-primary btn-next"
                    rippleEffect>
                    <span class="align-middle d-sm-inline-block d-none">Next</span>
                    <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                  </button> -->
                  <button (click)="horizontalWizardStepperSubmit(form)" class="btn btn-success btn-submit"
                    rippleEffect>
                    <span class="align-middle d-sm-inline-block d-none">Save</span>
                    <i data-feather="save" class="align-middle ml-sm-25 ml-0"></i>
                  </button>
                </div>
              </form>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!--/ Horizontal Wizard -->




  </div>
</div>