<div class="content-wrapper container-xxl p-0">
  <div class="d-print-none">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
  </div>
  <div class="row">
    <div class="col-md-6 col-xl-3">
      <div class="card py-2" style="border-left: .25rem solid #00b760!important;">
        <div class="card-body">
          <div class="row align-items-center no-gutters">
            <div class="col mr-2">
              <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span
                  style="color: #00b760;">Students</span></div>
              <div class="text-dark font-weight-bold h5 mb-0"><span>{{studentsCount}}</span></div>
            </div>
            <div class="col-auto"><i data-feather="users" [size]="40" [class]="'text-primary'" [inner]="false"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card py-2" style="border-left: .25rem solid #00b760!important;">
        <div class="card-body">
          <div class="row align-items-center no-gutters">
            <div class="col mr-2">
              <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span
                  style="color: #00b760;">Classes</span></div>
              <div class="text-dark font-weight-bold h5 mb-0"><span>25</span></div>
            </div>
            <div class="col-auto"><i data-feather="home" [size]="40" [class]="'text-primary'" [inner]="false"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card py-2" style="border-left: .25rem solid #00b760!important;">
        <div class="card-body">
          <div class="row align-items-center no-gutters">
            <div class="col mr-2">
              <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span
                  style="color: #00b760;">Teachers</span></div>
              <div class="text-dark font-weight-bold h5 mb-0"><span>40,000</span></div>
            </div>
            <div class="col-auto"><i data-feather="users" [size]="40" [class]="'text-primary'" [inner]="false"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card py-2" style="border-left: .25rem solid #00b760!important;background-color: #000000;">
        <div class="card-body">
          <div class="row align-items-center no-gutters">
            <div class="col mr-2">
              <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span
                  style="color: #ffffff;">Session</span></div>
              <div class="text-dark font-weight-bold h5 mb-0"><span style="color: #ffffff;">2020/2021<br /></span>
              </div>
            </div>
            <div class="col-auto"><i data-feather="calendar" [size]="40" [class]="'text-light'" [inner]="false"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-lg-6">
          <div class="card text-white bg-primary">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col mr-2">
                  <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span
                      style="color: #ffffff;">JSS - 1</span></div>
                  <div class="text-dark font-weight-bold h5 mb-0"><span style="color: #ffffff;">40,000</span></div>
                </div>
                <div class="col-auto"><i data-feather="users" [size]="40" [class]="'text-light'" [inner]="false"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card text-white bg-success">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col mr-2">
                  <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span
                      style="color: #ffffff;">JSS - 2</span></div>
                  <div class="text-dark font-weight-bold h5 mb-0"><span style="color: #ffffff;">40,000</span></div>
                </div>
                <div class="col-auto"><i data-feather="users" [size]="40" [class]="'text-light'" [inner]="false"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card text-white bg-info">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col mr-2">
                  <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span
                      style="color: #ffffff;">JSS - 3</span></div>
                  <div class="text-dark font-weight-bold h5 mb-0"><span style="color: #ffffff;">40,000</span></div>
                </div>
                <div class="col-auto"><i data-feather="users" [size]="40" [class]="'text-light'" [inner]="false"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card text-white bg-warning">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col mr-2">
                  <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span
                      style="color: #ffffff;">SS - 1</span></div>
                  <div class="text-dark font-weight-bold h5 mb-0"><span style="color: #ffffff;">40,000</span></div>
                </div>
                <div class="col-auto"><i data-feather="users" [size]="40" [class]="'text-light'" [inner]="false"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card text-white bg-danger">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col mr-2">
                  <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span
                      style="color: #ffffff;">SS - 2</span></div>
                  <div class="text-dark font-weight-bold h5 mb-0"><span style="color: #ffffff;">40,000</span></div>
                </div>
                <div class="col-auto"><i data-feather="users" [size]="40" [class]="'text-light'" [inner]="false"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card text-white bg-secondary">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col mr-2">
                  <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span
                      style="color: #ffffff;">SS - 3</span></div>
                  <div class="text-dark font-weight-bold h5 mb-0"><span style="color: #ffffff;">40,000</span></div>
                </div>
                <div class="col-auto"><i data-feather="users" [size]="40" [class]="'text-light'" [inner]="false"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-1">
    <div class="card-header">
      <h6 class="text-primary font-weight-bold m-0"><i class="fa fa-bar-chart"></i> Statistics</h6>
    </div>
    <div class="card-body">
      <h4 class="small font-weight-bold">SS - 3 Students<span class="float-right">20%</span></h4>
      <div class="progress mb-1">
        <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
          style="width: 20%;"><span class="sr-only">20%</span></div>
      </div>
      <h4 class="small font-weight-bold">SS - 1 Students<span class="float-right">40%</span></h4>
      <div class="progress mb-1">
        <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
          style="width: 40%;"><span class="sr-only">40%</span></div>
      </div>
      <h4 class="small font-weight-bold">JSS - 1 Students<span class="float-right">60%</span></h4>
      <div class="progress mb-1">
        <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
          style="width: 60%;"><span class="sr-only">60%</span></div>
      </div>
      <h4 class="small font-weight-bold">Jss - 3 Students<span class="float-right">80%</span></h4>
      <div class="progress mb-1">
        <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
          <span class="sr-only">80%</span>
        </div>
      </div>
      <h4 class="small font-weight-bold">JSS - 2 Students<span class="float-right">81%</span></h4>
      <div class="progress mb-1">
        <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
          style="width: 100%;"><span class="sr-only">100%</span></div>
      </div>
      <h4 class="small font-weight-bold">SS - 3 Students<span class="float-right">81%</span></h4>
      <div class="progress mb-1">
        <div class="progress-bar bg-secondary" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
          style="width: 100%;"><span class="sr-only">100%</span></div>
      </div>
    </div>
  </div>
</div>